<div class="not-found">
  <h1 class="not-found__title">There's nothing to see here!</h1>
  <%= image_tag asset_path('not-found.gif'), class: 'not-found__gif' %>
  <%= link_to 'Go back', root_path, class: 'not-found__link' %>
</div>
