.badge {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  margin: 0 $spacing-tight;
  background-color: $red;
  border: 2px solid #fff;
  border-radius: 2rem;
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: white;
}
