.summary {
  display: flex;
  flex-wrap: wrap;
}

.summary__item {
  flex: 1 1 25%;
  padding: 0 $spacing;
  padding-bottom: $spacing-loose;

  @media screen and (max-width: $breakpoing-medium) {
    flex: 1 1 50%;
  }

  @media screen and (max-width: $breakpoing-small) {
    flex: 1 1 50%;
    padding: 0;
    padding-bottom: $spacing-loose;
  }
}

.summary__item--full {
  flex: 1 1 100%;
}

.summary__value {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;
  margin-bottom: $spacing;
}
