$avatar-size: 56px;

.user {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  padding-bottom: $spacing-loose;
  margin-bottom: $spacing-loose;

  @media screen and (max-width: $breakpoing-medium) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.user-wrapper {
  display: flex;
  align-items: center;
  font-size: 1rem;

  @media screen and (max-width: $breakpoing-small) {
    font-size: 1.3rem;
    flex-direction: column;
    width: 100%;
    padding-bottom: $spacing;
  }
}

.user__avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;

  @media screen and (max-width: $breakpoing-small) {
    width: $avatar-size * 1.5;
    height: $avatar-size * 1.5;
    margin-bottom: $spacing;
  }
}

.user__details {
  display: flex;
  flex-direction: column;
  padding-left: $spacing;
  font-weight: 300;

  @media screen and (max-width: $breakpoing-small) {
    padding-left: 0;
    align-items: center;
  }
}

.user__name {
  display: flex;
  align-items: center;
  font-size: 1.4em;

  @media screen and (max-width: $breakpoing-small) {
    flex-direction: column;

    .badge {
      margin: $spacing-tight 0;
    }
  }
}

.user__location {
  font-size: 0.9em;
}

.user__extra {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.user__extra-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: $spacing-loose;

  &:first-child {
    padding-left: 0;
  }

  @media screen and (max-width: $breakpoing-medium) {
    margin-top: $spacing-loose;
  }

  @media screen and (max-width: $breakpoing-small) {
    flex: 1 1 50%;
    align-items: center;
    padding-left: 0;
  }
}

.user__extra-heading {
  margin-bottom: $spacing-tight;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  color: $red;
}

.user__extra-value {
  font-size: 0.8em;
}
