$spacing-tight: 5px;
$spacing: 10px;
$spacing-loose: 20px;

$red: #fb4b01;
$light-grey: #e5e5e5;
$grey: #6a737d;
$sky: #f5f8f8;
$light-black: #222222;

$breakpoing-medium: 1000px;
$breakpoing-small: 620px;
